.leaflet-control-liveupdate a {
  background:#fff url(liveupdate.png) no-repeat 0 0;
  background-size: 26px 52px;
  background-position:3px 2px !important;
}
.leaflet-liveupdate-on .leaflet-control-liveupdate a {
    background-position:3px 2px !important;
}
.leaflet-liveupdate-on a {
    background-position:2px -23px !important;
}
.leaflet-control-messagebox {
	display: none; /* Initially hidden */
	border: 2px solid #8ebc00;
	background-color: white;
	padding: 3px 10px;
}
.leaflet-control-attribution{
	display: none !important;
}

body{
	font-size: 13px !important;	
}
.panel{
	float: left;
	margin-left: 3px;
	cursor: pointer;
}

.panel-heading {
	padding: 2px 15px !important;
}

.panel-body{
	padding:5px !important;
	color: black !important;
}

.panel-group .panel+.panel {
    margin-top: 0px !important;
}

.panel-warning>.panel-heading{
	background-color: #fad3a2 !important;	
}

.leaflet-popup-content-wrapper{
	text-align: right !important;	
	font-size: 11px !important;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
} 

#splitd{
	height: 100%;
	width: 100%;
}
#timeseriesDiv {
  z-index: 350;
  position: absolute;
  height: 185px;
  width: 100%;
  bottom: 0px;
}
#closeseries{
	bottom: 0;
	position: absolute;
	z-index: 10000;
	right: 0;
}
#sizeInputDiv {
  position: absolute;
    top: 1px;
    left: 1px;
    padding: 12px;
     background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    z-index: 1000;
    width: 249px;
}
#basemaps-wrapper {
  position: absolute;
  bottom: 90px;
  right: 5px;
  z-index: 400;
  background: white;
  padding: 10px;
}
#basemaps {
  margin-bottom: 5px;
}
#interp_legend{
  background:white !important;
  font-size:13px  !important;
  padding:10px  !important;
}
#interp_legend i {
    width: 14px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.canvasjs-chart-credit{
	display: none;
}
.leaflet-control-locate a{font-size:1.4em;color:#444;cursor:pointer}.leaflet-control-locate.active a{color:#2074B6}.leaflet-control-locate.active.following a{color:#FC8428}


body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #8c4141;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

#menu-toggle{
float: left;
    color: white;
    position: absolute;
    /* bottom: 90px; */
    /* right: 5px; */
    z-index: 4000;
    /* background: white; */
    padding: 10px;

}